## Deliverable 3. Create a Travel Itinerary Map.

In [4]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [6]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("..\Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Busselton,AU,50.04,scattered clouds,-33.6500,115.3333,Observatory Guest House
1,11,Castro,BR,58.06,overcast clouds,-24.7911,-50.0119,CHACARA BAILLY
2,12,Kodiak,US,51.31,clear sky,57.7900,-152.4072,Best Western Kodiak Inn And Convention Center
3,13,Yellowknife,CA,51.33,overcast clouds,62.4560,-114.3525,The Explorer Hotel
4,21,Mananjary,MG,65.77,clear sky,-21.2167,48.3333,Vahiny Lodge

In [10]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Busselton,AU,50.04,scattered clouds,-33.6500,115.3333,Observatory Guest House
1,11,Castro,BR,58.06,overcast clouds,-24.7911,-50.0119,CHACARA BAILLY
2,12,Kodiak,US,51.31,clear sky,57.7900,-152.4072,Best Western Kodiak Inn And Convention Center
3,13,Yellowknife,CA,51.33,overcast clouds,62.4560,-114.3525,The Explorer Hotel
4,21,Mananjary,MG,65.77,clear sky,-21.2167,48.3333,Vahiny Lodge

In [11]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Zvolen")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Zvolen")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Doksy")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Cadca")]
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Trhove Sviny")]
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
250,687,Zvolen,SK,51.01,few clouds,48.5744,19.1532,Hotel Polana

In [42]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]].to_numpy()
end = vacation_end[["Lat", "Lng"]].to_numpy()
stop1 = vacation_stop1[["Lat", "Lng"]].to_numpy()
stop2 = vacation_stop2[["Lat", "Lng"]].to_numpy()
stop3 = vacation_stop3[["Lat", "Lng"]].to_numpy()

array([[50.5647, 14.6555]])

In [ ]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

In [ ]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([],ignore_index=True)
itinerary_df

In [ ]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [ ]:
# 11a. Add a marker layer for each city to the map.

# 11b. Display the figure